################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/MyShopping/v16/.suo
/MyShopping/.vs/MyShopping
/MyShopping/MyShopping/bin/Debug/netstandard2.0
/MyShopping/MyShopping/obj
/MyShopping/MyShopping.Android/bin/Debug
/MyShopping/MyShopping.Android/obj
/MyShopping/MyShopping.iOS/bin/iPhone/Debug
/MyShopping/MyShopping.iOS/obj
/.vs
/MyShoppingWebApi/bin/Debug/net5.0
/MyShoppingWebApi/obj/Debug/net5.0
/MyShoppingWebApi/obj
/MyShoppingWebApi/MyShoppingWebApi.csproj.user
/MyShopping.Models/bin/Debug
/MyShopping.Models/obj/Debug
*.suo
/MyShoppingAPis/src/MyShopping.API/bin/Debug/net5.0
/MyShoppingAPis/src/MyShopping.API/obj
/MyShoppingAPis/src/MyShopping.Common/bin/Debug/net5.0
/MyShoppingAPis/src/MyShopping.Common/obj
/MyShoppingAPis/src/MyShopping.Services.Activity/bin/Debug/net5.0
/MyShoppingAPis/src/MyShopping.Services.Activity/obj
/MyShoppingAPis/src/MyShopping.Services.Identity/bin/Debug/net5.0
/MyShoppingAPis/src/MyShopping.Services.Identity/obj
